composer.lock
vendor
var
.idea
/.phpunit.result.cache
/.php-cs-fixer.cache
phpstan.neon

###> friendsofphp/php-cs-fixer ###
/.php-cs-fixer.php
/.php-cs-fixer.cache
###< friendsofphp/php-cs-fixer ###

###> phpstan/phpstan ###
phpstan.neon
###< phpstan/phpstan ###
